/* Global view */

body{
    background-color: #ebebeb;
}

.header_container{
    width: 100%;
    background-color:rgb(27, 25, 25);
   
    position:fixed;
   
}

header{
    max-width: 1024px;
    /* background-color: cadetblue; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    }



h1{
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: white;
    
}

.logo a h1:hover{
    color: rgb(14, 197, 173);
    transition-duration: .5s;
}


a{
    text-decoration: none;
}


.logo{
    text-align:left;
    padding-top:10px;
}

nav{
    display:flex;
    text-align:right;
}
.bold_first{
    font-weight: bold;
}
.navbutton{
    margin-left: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    padding:10px 10px;
}

.navbutton:hover{
    background-color: rgb(14, 197, 173);
    transition-duration: 0.5s;
}

.navbutton h1{
    font-size: 0.85rem;
}






.container{
    max-width: 1024px;
    min-height:500px;
    display:flex;
    flex-wrap: wrap;
    margin: 0px auto;
    padding-top: 150px;
    justify-content: space-between;

}


.col{
    width: 30%;
    margin-bottom: 50px;
    background-color: rgb(14, 197, 173);

}
.col p::first-line{
    font-weight: bold;
}

.col p{
    padding:15px 30px;
    font-family: 'Lato', sans-serif;
    color:white;
    font-size: 0.9rem;
    line-height: 1.2rem;
}

img{
    width: 100%;
    height: auto;
}

.hide_desktop{
    display:none;
}


.phonemenu{
    display:none;
}



/* Tablet View */
@media (max-width: 768px){
.col{
    width:45%;
    
    
}
.hide_desktop{
    display:block;
}
header{
    display:flex;
   
}
.header_container{
    position:relative;
 
}

nav{
    display:block;
    text-align: center;
    
}
.navbutton{
    margin-left:0px;
}

.logo{
    padding:10px 0px 30px 0;
    text-align: center;
}
.container{
    padding-top:40px;
}
.navbutton{
    display:none;
}
.phonemenu{
    display:inline-block;
    color:coral;
}

h1{
    margin:auto 10px;
}

.menu i{
    margin: auto 10px;
    font-size: 2.5rem;
    
    
    
}
.dropdown{
    display:none;
    position:absolute;
    z-index: 90%;
    margin-left:-70px;
    margin-top: 10px;
    background-color: coral;
    
}

.dropdown a{
    color:white;
}
.droplink{
    padding: 20px 20px;
}
.droplink:hover{
    background-color: rgb(14, 197, 173);
    transition-duration: 1ms;

}
}
/* Mobile View */
@media (max-width: 400px){
.col{
    width:100%;
}
.hide_mobile{
    display:none;
}

}
